@import "../../Theme/_variables";

.container {
  background: $primary;
  color: $white;
  border: none;
  border-radius: 7px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 25px;
  cursor: pointer;
}

.title {
  font-size: 16px;
}
